@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
*,
body {
  font-family: "Lexend Deca", sans-serif;
}
.khung_container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  /* Nên cho gap để tạo khoảng cách giữa các con */
}

.title {
  font-family: "Big Shoulders", sans-serif;
  font-size: 2.5rem;
}
.khung {
  padding: 60px 60px 50px 60px;
}
.Khung1 {
  background-color: #ffa500;
  border-radius: 10px 10px 0 0;
}
.Khung1_1 {
  font-size: 30px;
  color: white;
}
.Khung1_2 {
  color: white;
}
.btn-1 {
  color: #ffa500;
}
.Khung2 {
  background-color: rgb(24, 118, 101);
}

.text {
  color: white;
}
.btn {
  background-color: white;
  border-radius: 50px;
  border: 0;
  padding: 16px 32px;
  font-weight: bold;
}
/* Dùng để ấn element */
.btn:active {
  background-color: black;
}
.btn-2 {
  color: rgb(24, 118, 101);
}
.Khung3 {
  background-color: rgb(15, 75, 64);
  border-radius: 0px 0px 10px 10px;
}

.btn-3 {
  color: rgb(15, 75, 64);
}

.text-content {
  margin-bottom: 32px;
}

@media screen and (min-width: 992px) {
  .khung_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .khung {
    display: flex; /* sắp xếp mỗi phần tử trong từng khung*/
    flex-direction: column;
    align-items: start;
    width: 10%; /*chiều rộng và dài của nguyên cái khung đó*/
    height: 70%;
  }
  
  .Khung1 {
    border-radius: 10px 0 0 10px;
  }
  /* Lấy toàn trống còn trống còn xót và cho margin (top) chứa đầy khoảng trống đó */
  .btn {
    margin-top: auto;
  }
  .Khung3 {
    border-radius: 0px 10px 10px 0;
  }
}
