@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: rgb(220, 181, 220);
    font-family: "Big Shoulders", sans-serif;

}
h1 {
    text-align: center;
    color: rgb(140, 64, 239);
    font-size: 45px;
}
img {
    width: 300px;
    height: 200px;
    background: rgb(220, 181, 220);
}
div {
    text-align: center;
    font-size: 28px;
}
.kn {
    color: white;
    background: rgb(176, 120, 176);
    margin: 50px 300px 50px 300px;
    border-radius: 2%;
    padding: 28px;
    text-align: left;
}
.nk {
    color: rgb(242, 242, 136);
    border-left: 3px solid yellow;
    padding: 0px 5px 0px 5px;
}
.gin {
     background: yellow;
        color: black;
        border-radius: 2px;
        padding: 3px;
}
a {
    color: Brown; 
    background: yellow;
    font-size: 30px;
    border-radius: 3%;
    padding: 12px 24px;
    text-decoration: none; 
    transition: all 1s ease-in-out
}
a:hover{
    color: yellow;
    background: Brown;
    padding: 24px 48px;
}
.tt {
    text-align: center;
}